<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>The Jain Diet - Jain Food Finder</title>
</head>
<body>
    {% include 'navbarMobile.html' %}
    <div id="content">
        <h1>The Jain Diet</h1>
        <p> 
            Jain dietary practices are rooted in the principles of non-violence and are designed to minimize harm to living beings. The following foods should be avoided in the Jain Diet:
        </p>
        <ul>
            <li>Meat</li>
            <li>Seafood</li>
            <li>Fish</li>
            <li>Fish Oil</li>
            <li>Fish Sauce/Oyster Sauce</li>
            <li>Eggs</li>
            <li>Garlic</li>
            <li>Potato</li>
            <li>Onions</li>
            <li>Carrots</li>
            <li>Bamboo</li>
            <li>Ginger</li>
            <li>Sprouts</li>
            <li>Spinach</li>
            <li>Gelatin</li>
            <li>Mushrooms</li>
            <li>Animal Rennet/Enzymes in Cheese</li>
            <li>Honey</li>
            <li>Eggplant</li>
            <li>Tapioca</li>
            <li>Horseradish</li>
            <li>Turnips</li>
            <li>Beets</li>
            <li>Jackfruit</li>
        </ul>
        
        
        
    </div>
</body>
</html>
